.title {
	text-align: center;
	color: white;
	height: 24px;
	font-size: 20px;
	background-color: seagreen;
	padding: !0px;
}

.canvas-container {
   width: 100%;
   text-align:center;
}

html, body {
    overflow: hidden;
    background-color: black;
    margin: 0 !important;
    padding: 0 !important;

}